h1 {
    color: #4e4e4e ;
    font-family: 'Poppins';
}

p {
    color: #4e4e4e;
    font-family: 'Poppins';
    font-size: 16px;
}

#blackboard {
    height: 280px;
    width: 560px;
    background-color: #81818be4;
    margin-left: 40px;
}

#blackboardText {
    color: rgb(227, 234, 239);
    margin: 30px;
}

.table {
    table-layout: fixed;
    width: 600px;
    border: 2px solid rgba(100, 148, 237, 0.91);
    background-color: #fda18545;
    color: #4e4e4e;
    font-family: 'Poppins';
    font-size: 14px;
}

#lancerB {
    margin: 20px;
    color: #4e4e4e;
    font-family: 'Poppins';
    font-size: 20px;
}

#totalLabel {
    margin: 2px;
    color: #4e4e4e;
    font-family: 'Poppins';
    font-size: 20px;
}

#restartB {
    margin-left: 20px;
    color: rgb(52, 148, 227);
    font-family: 'Poppins';
    font-size: 20px;
}

#winnerName {
    margin: 10px;
    color: palevioletred;
    font-family: 'Poppins';
    font-size: 20px;
}

#parti {
    margin: 30px;
    color: #f78f6f;
    font-family: 'Poppins';
    font-size: 20px;
}

#turnP {
    color: #81818b;
    font-family: 'Poppins';
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
}

.grid-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.3px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
}